@font-face {
    font-family: 'existence-light';
    src: url('../fonts/existence-light.woff2') format('woff2'),
         url('../fonts/existence-light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'lato-hairline';
    src: url('../fonts/lato-hairline.woff2') format('woff2'),
         url('../fonts/lato-hairline.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'lato-light';
    src: url('../fonts/lato-light.woff2') format('woff2'),
         url('../fonts/lato-light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'lato-regular';
    src: url('../fonts/lato-regular.woff2') format('woff2'),
         url('../fonts/lato-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}